<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    
<div class="col card h-100 mb-3 w-15" style="border: 5px solid ${data.color ? data.color : "#808080"}; margin-top: 10px; margin-right: 5px;">
    <h5 class="card-header d-flex justify-content-between align-items-center"> ${data.label ? data.label : ""}
    <div id="labeling_complete"> ${data.all_labeled_true_false ? "&#x2705;" : ""}</div></h5>
     <div class="card-body">
        <h2 class="card-title"></h2>
        <p class="card-text"></p>
        <p class="card-text">Number of Images: ${data.num_images ? data.num_images : ""} <small class="text-muted"></small></p>
        <p class="card-text">Labelled Images: ${data.labeled_images ? data.labeled_images : ""}<small class="text-muted"></small></p>
        <p class="card-text"><small class="text-muted"></small></p>
 
    <div> 
        <input type="submit" id="${data.label}-showThumbnailsButton-${data.index}" project_id ="${data.project_id ? data.project_id : ""}" value="Show Images" class="btn btn btn-outline-primary xShowThumbnailsBtnClass" style="margin-left: 0px; width: 100%; height: 50px; margin-bottom: 20px; border: 5px solid ${data.color ? data.color : "#808080"}">
        <input type="hidden" id="current_folder" name="current_folder" value="${data.label ? data.label : ""}">
        <input type="hidden" id="project_id" name="project_id" value="${data.project_id ? data.project_id : ""}">
    </div> 

    <div>
        <div class="input-group">
            <input id="imageLoader${data.index}" type="file" name="upload_images_project_label[]" multiple="true" autocomplete="off" required>
            <input type="submit" id="${data.label}-uploadImagesButton-${data.index}" project_id="${data.project_id}" value="Upload Images" class="btn  btn-info xUploadImagesBtnClass" style="margin-left: 0px;">
        </div>
        <input type="hidden" id="project_id" name="project_id" value="${data.project_id ? data.project_id : ""}">
        <input type="hidden" id="current_folder" name="current_folder" value="${data.label ? data.label : ""}">
        <input type="hidden" name="which-form" value="images-for-labeling">
    </div> 
</div>
<div class="card-footer">
    <div class="solTitle" id="solTitle${data.index}">
        <a href="/atagDelete?a=100&b=500" class="btn btn-danger xDeleteButtonClass"  id="deleteLabelButton-${data.index}" data-label="${data.label ? data.label : ""}" project_id="${data.project_id ? data.project_id : ""}">Delete</a> <small> Delete all images & labels</small>
    </div>
</div>
</div>






{% if labels_color_map %}

        {% for row_of_labels in labels_color_map|batch(4) %}

        <div class="row">

        {% for my_label in row_of_labels %}  


                <div class="col card h-100 mb-3 w-15" style="border: 5px solid {% if color is defined %} {{ color }} {% else %} "#808080" {% endif %}; margin-top: 10px; margin-right: 5px;">
                <h5 class="card-header d-flex justify-content-between align-items-center"> {{ label }}<div id="labeling_complete"> &#x2705;</div></h5>
                <div class="card-body">
                <h2 class="card-title"></h2>
                <p class="card-text"></p>
                <p class="card-text">Number of Images:  <small class="text-muted"></small></p>
                <p class="card-text">Labelled Images: <small class="text-muted"></small></p>
                <p class="card-text"><small class="text-muted"></small></p>

                <div> 
                    <input type="submit" id="${data.label}-showThumbnailsButton-${data.index}" project_id ="{{ project_js_id }}" value="Show Images" class="btn btn btn-outline-primary xShowThumbnailsBtnClass" style="margin-left: 0px; width: 100%; height: 50px; margin-bottom: 20px; border: 5px solid {% if color is defined %} {{ color }} {% else %} "#808080">
                    <input type="hidden" id="current_folder" name="current_folder" value="{{ label }}">
                    <input type="hidden" id="project_id" name="project_id" value="{{ project_js_id }}">
                </div> 
                
                <div>
                    <div class="input-group">
                        <input id="imageLoader{{ loop.index }}" type="file" name="upload_images_project_label[]" multiple="true" autocomplete="off" required>
                        <input type="submit" id="{{ label }}-uploadImagesButton-{{ loop.index }}" project_id="{{ project_js_id }}" value="Upload Images" class="btn  btn-info xUploadImagesBtnClass" style="margin-left: 0px;">
                    </div>
                        <input type="hidden" id="project_id" name="project_id" value="{{ project_js_id }}">
                        <input type="hidden" id="current_folder" name="current_folder" value="{{ label }}">
                        <input type="hidden" name="which-form" value="images-for-labeling">
                    </div> 
                </div>
                    <div class="card-footer">
                    <div class="solTitle" id="solTitle{{ loop.index }}">
                            <a href="/atagDelete?a=100&b=500" class="btn btn-danger xDeleteButtonClass"  id="deleteLabelButton-{{ loop.index }}" data-label="{{ label }}" project_id="{{ project_js_id }}">Delete</a> <small> Delete all images & labels</small>
                    </div>
                    </div>
                    </div>

        {% endfor %}

        </div>

        {% endfor %}

{% endif %}














{% if labels_color_map %}

 {% for row_of_labels in labels_color_map|batch(4) %}

      <div class="row">

      {% for my_label in row_of_labels %}  

      {% set color = labels_color_map[label]  %} 

              <div class="col card h-100 mb-3 w-15" style="border: 5px solid {% if color is defined %} {{ color }} {% else %} "#808080" {% endif %}; margin-top: 10px; margin-right: 5px;">
              <h5 class="card-header d-flex justify-content-between align-items-center"> {{ label }}<div id="labeling_complete"> &#x2705;</div></h5>
              <div class="card-body">
              <h2 class="card-title"></h2>
              <p class="card-text"></p>
              <p class="card-text">Number of Images:  <small class="text-muted"></small></p>
              <p class="card-text">Labelled Images: <small class="text-muted"></small></p>
              <p class="card-text"><small class="text-muted"></small></p>

              <div> 
                  <input type="submit" id="{{ label }}-showThumbnailsButton-${data.index}" project_id ="{{ project_js_id }}" value="Show Images" class="btn btn btn-outline-primary xShowThumbnailsBtnClass" style="margin-left: 0px; width: 100%; height: 50px; margin-bottom: 20px; border: 5px solid {% if color is defined %} {{ color }} {% else %} "#808080">
                  <input type="hidden" id="current_folder" name="current_folder" value="{{ label }}">
                  <input type="hidden" id="project_id" name="project_id" value="{{ project_js_id }}">
              </div> 
              
              <div>
                  <div class="input-group">
                      <input id="imageLoader{{ loop.index }}" type="file" name="upload_images_project_label[]" multiple="true" autocomplete="off" required>
                      <input type="submit" id="{{ label }}-uploadImagesButton-{{ loop.index }}" project_id="{{ project_js_id }}" value="Upload Images" class="btn  btn-info xUploadImagesBtnClass" style="margin-left: 0px;">
                  </div>
                      <input type="hidden" id="project_id" name="project_id" value="{{ project_js_id }}">
                      <input type="hidden" id="current_folder" name="current_folder" value="{{ label }}">
                      <input type="hidden" name="which-form" value="images-for-labeling">
                  </div> 
              </div>
                  <div class="card-footer">
                  <div class="solTitle" id="solTitle{{ loop.index }}">
                          <a href="/atagDelete?a=100&b=500" class="btn btn-danger xDeleteButtonClass"  id="deleteLabelButton-{{ loop.index }}" data-label="{{ label }}" project_id="{{ project_js_id }}">Delete</a> <small> Delete all images & labels</small>
                  </div>
                  </div>
                  </div>

      {% endfor %}

      </div>

      {% endfor %}

{% endif %}












<div class="col card h-100 mb-3 w-15" style="border: 5px solid #808080 margin-top: 10px; margin-right: 5px;">
    <h5 class="card-header d-flex justify-content-between align-items-center"> LABEL <div id="labeling_complete"> &#x2705;</div></h5>
    <div class="card-body">
    <h2 class="card-title"></h2>
    <p class="card-text"></p>
    <p class="card-text">Number of Images:  <small class="text-muted"></small></p>
    <p class="card-text">Labelled Images: <small class="text-muted"></small></p>
    <p class="card-text"><small class="text-muted"></small></p>

    <div> 
        <input type="submit" id="-showThumbnailsButton-" project_id ="PROJECT ID" value="Show Images" class="btn btn btn-outline-primary xShowThumbnailsBtnClass" style="margin-left: 0px; width: 100%; height: 50px; margin-bottom: 20px; border: 5px solid #808080">
        <input type="hidden" id="current_folder" name="current_folder" value="LABEL">
        <input type="hidden" id="project_id" name="project_id" value="PROJECT ID">
    </div> 
    
    <div>
        <div class="input-group">
            <input id="imageLoader-INDEX" type="file" name="upload_images_project_label[]" multiple="true" autocomplete="off" required>
            <input type="submit" id="-uploadImagesButton-" project_id="PROJECT ID" value="Upload Images" class="btn  btn-info xUploadImagesBtnClass" style="margin-left: 0px;">
        </div>
            <input type="hidden" id="project_id" name="project_id" value="PROJECT ID">
            <input type="hidden" id="current_folder" name="current_folder" value="LABEL">
            <input type="hidden" name="which-form" value="images-for-labeling">
        </div> 
    </div>

    <div class="card-footer">
        <div class="solTitle" id="solTitle-INDEX">
            <a href="/atagDelete?a=100&b=500" class="btn btn-danger xDeleteButtonClass"  id="deleteLabelButton-INDEX" data-label="LABEL" project_id="PROJECT ID">Delete</a> <small> Delete all images & labels</small>
        </div>
    </div>
</div>









    


</body>
</html>