<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Create Cards Automatically </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.min.js"></script>
    <script src="https://www.marvinj.org/releases/marvinj-1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>
    

    <div id="main_container" class="container">

    </div>


    <script>

    var data = [
                {label: "color-1","color": "#112FDF", "num_images": 200, "labeled_images": 200, "all_labeled_true_false": true},
                {label: "color-2","color": "#00A546", "num_images": 500, "labeled_images": 500, "all_labeled_true_false": false},
                {label: "color-3","color": "#D95C00", "num_images": 102, "labeled_images": 102, "all_labeled_true_false": true},
                {label: "color-4","color": "#862E85", "num_images": 800, "labeled_images": 200, "all_labeled_true_false": false},
                {label: "color-5","color": "#AFD800", "num_images": 152, "labeled_images": 120, "all_labeled_true_false": false},
                {label: "color-6","color": "#512479", "num_images": 521, "labeled_images": 520, "all_labeled_true_false": false},
                {label: "color-7","color": "#FCAE03", "num_images": 101, "labeled_images":  98, "all_labeled_true_false": true},
                {label: "color-8","color": "#E12A1F", "num_images": 202, "labeled_images": 153, "all_labeled_true_false": true},
                {label: "color-9","color": "#0094D4", "num_images": 333, "labeled_images": 333, "all_labeled_true_false": true}
               ];



       function create_card(data){

            var new_card = data.label ?

                                `<div class="col card h-100 mb-3 w-15" style="border: 5px solid ${data.color ? data.color : "#808080"}; margin-top: 10px; margin-right: 5px;">
                                    <h5 class="card-header d-flex justify-content-between align-items-center">
                                        ${data.label ? data.label : ""}
                                        <div id="labeling_complete"> ${data.all_labeled_true_false ? "&#x2705;" : ""}</div>
                                    </h5>
                                    <div class="card-body">
                                    <h2 class="card-title"></h2>
                                    <p class="card-text"></p>
                                    <p class="card-text">Number of Images: ${data.num_images ? data.num_images : ""} <small class="text-muted"></small></p>
                                    <p class="card-text">Labelled Images: ${data.labeled_images ? data.labeled_images : ""}<small class="text-muted"></small></p>
                                    <p class="card-text"><small class="text-muted"></small></p>

                                    <form method="post" action="" >
                                        <input type="submit" value="Show Images" class="btn btn btn-outline-primary" style="margin-left: 0px; width: 100%; height: 50px; margin-bottom: 20px; border: 5px solid ${data.color ? data.color : "#808080"}">
                                        <input type="hidden" id="current_folder" name="current_folder" value="${data.label ? data.label : ""}">
                                    </form> 

                                    <form method="post" action="" enctype="multipart/form-data">
                                        <div class="input-group">
                                            <input class="form-control" id="imageLoader" type="file" name="images_for_labeling[]" multiple="true" autocomplete="off" required>
                                            <input type="submit" value="Upload Images" class="btn  btn-info" style="margin-left: 0px;">
                                        </div>
                                        <input type="hidden" id="current_folder" name="current_folder" value="${data.label ? data.label : ""}">
                                        <input type="hidden" name="which-form" value="images-for-labeling">
                                    </form> 
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="btn btn-danger" data-label="${data.label ? data.label : ""}">Delete</a> <small> Delete all images & labels</small>
                                </div>
                            </div>`  : ""

                return new_card 

        }




            for (var i = 0; i < data.length; i += 4) {

                var new_row = document.createElement('div')
                new_row.className="row"

                var card_1_data = data.hasOwnProperty(i) ? data[i]  : " ";  
                var card_2_data = data.hasOwnProperty(i+1) ? data[i+1] : " ";   
                var card_3_data = data.hasOwnProperty(i+2) ? data[i+2]  : " ";   
                var card_4_data = data.hasOwnProperty(i+3) ? data[i+3] : " ";   

                card_1_string = create_card(card_1_data)
                card_2_string = create_card(card_2_data)
                card_3_string = create_card(card_3_data)
                card_4_string = create_card(card_4_data)

                var combined_card_string = card_1_string + '\n' + card_2_string + '\n' + card_3_string + '\n' + card_4_string

                new_row.innerHTML = combined_card_string

                //document.getElementById('main_container').appendChild(new_row)
                document.getElementById('label_buckets_container').appendChild(new_row)
                

            }















    </script>



</body>
</html>