<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My New Card</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.min.js"></script>
    <script src="https://www.marvinj.org/releases/marvinj-1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>

</head>
<body>
 <div class="container">

    <div id="block"></div>

 </div>
 

    <script>

        function NewCard(data_element){

            var project_name = data_element.project_name ? data_element.project_name : ""
            var date_created = data_element.date_created ? data_element.project_name : ""

            //alert(' project_name : ' + project_name +  ' date_created : ' + date_created)


            const newCardParent = document.createElement('div')
            newCardParent.className ="col card h-100 mb-3 w-15"
            newCardParent.style= "margin-top: 10px; margin-right: 5px; margin-bottom: 20px; border: 5px solid blue;";

            const h5 = document.createElement('h5')
            h5.className ="card-header d-flex justify-content-between align-items-center;"
            h5.innerHTML ="MY LABEL";

            const checkmark_div = document.createElement('div')
            checkmark_div.id = "labeling_complete"
            checkmark_div.innerHTML ="&#x2705;";
            h5.append(checkmark_div)

            const cardBody = document.createElement('div')
            cardBody.className ="card-body"

            const h2 = document.createElement('h2')
            h2.className ="card-title"
            h2.innerHTML ="";

            const p1 = document.createElement('p')
            p1.className ="card-text"
            p1.innerHTML ="";

            const p2 = document.createElement('p')
            p2.className ="card-text"
            p2.innerHTML ="Number of Images:";

            const p3 = document.createElement('p')
            p3.className ="card-text"
            p3.innerHTML ="Labelled Images:";

            const p4 = document.createElement('p')
            p4.className ="card-text"

            const small_1 = document.createElement('small')
            small_1.className ="text-muted"
            small_1.innerHTML ="";
            p4.append(small_1)  

            const show_thumbnails_div = document.createElement('div')
            //const input_1 = document.createElement('input')
            //input_1.type ="submit"
            //input_1.id ="showThumbnails";
            //input_1.value ="Show Images";
            //input_1.style="margin-left: 0px; width: 50%; height: 50px; margin-bottom: 20px; border: 5px solid green;"
            //input_1.onclick = showImagesAction()

            var atag_showthumbnails = document.createElement("a");
            atag_showthumbnails.className ="btn"
            atag_showthumbnails.href = "/showImages?label=Frog&project_id=121450";
            atag_showthumbnails.style = "width: 100%; height: 50px; margin-bottom: 20px; border: 5px solid green; background: yellow;"
            atag_showthumbnails.setAttribute("label","0000128238732")
            atag_showthumbnails.setAttribute("project_id","current_folder")
            atag_showthumbnails.innerHTML ="Show Images";
            atag_showthumbnails.addEventListener('mouseover',function(){ $(this).css('background-color','green'); });
            atag_showthumbnails.addEventListener('mouseout', function(){ $(this).css('background-color','yellow');     });

            const input_2 = document.createElement('input')
            input_2.type ="hidden"
            input_2.id ="current_folder";
            input_2.value ="current label";
            input_2.name ="current_folder";

            const input_3 = document.createElement('input')
            input_3.type ="hidden"
            input_3.id ="project_id";
            input_3.value ="project js id";
            input_3.name ="project id";

            //show_thumbnails_div.append(input_1)     
            show_thumbnails_div.append(input_2)  
            show_thumbnails_div.append(input_3)  
            show_thumbnails_div.append(atag_showthumbnails) 

            const input_group = document.createElement('div')
            input_group.className ="input-group"
            input_group.style ="display: inline;"


            const upload_left_div = document.createElement('div')
            upload_left_div.style ="display: inline;"  
            
            const upload_right_div = document.createElement('div')
            upload_right_div.style ="display: inline;"             

            const input_1x = document.createElement('input')
            input_1x.className ="form-control"
            input_1x.type ="file"
            input_1x.id ="imageLoader-101";
            input_1x.name ="upload_images_project_label[]"
            input_1x.multiple = true;
            input_1x.autocomplete = true;
            input_1x.required =true;
     

            const atag_imgs_upload = document.createElement('a')
            atag_imgs_upload.href ="/upload?a=100&b=500"
            atag_imgs_upload.className ="btn btn-success"
            atag_imgs_upload.id ="upload-images-anchor-btn-001";
            atag_imgs_upload.setAttribute("label","0000128238732")
            atag_imgs_upload.setAttribute("project_id","current_folder")
            atag_imgs_upload.innerHTML ="Upload Images";
            atag_imgs_upload.style ="display: inline; width: 100%;"              


            upload_left_div.append(input_1x)
            upload_right_div.append(atag_imgs_upload)

            const input_2x = document.createElement('input')
            input_2x.className ="btn  btn-info xUploadImagesBtnClass"
            input_2x.type ="submit"
            input_2x.id ="uploadImagesButton-001";
            input_2x.value ="Upload Images";
            input_2x.style="margin-left: 0px;"
            input_2x.setAttribute("project_id","0000128238732")
            input_2x.setAttribute("current_folder","current_folder")
            // input_2x.onclick = uploadButtonAction("motocar")


            const input_3x = document.createElement('input')
            input_3x.type ="hidden"
            input_3x.id ="current_folder";
            input_3x.value ="current label";
            input_3x.name ="current_folder";

            const input_4x = document.createElement('input')
            input_4x.type ="hidden"
            input_4x.id ="current_folder";
            input_4x.value ="images-for-labeling";
            input_4x.name ="which-form";

            //input_group.append(input_1x)
            //input_group.append(atag_imgs_upload)
            input_group.append(upload_left_div)
            input_group.append(upload_right_div)            
            //input_group.append(input_2x)
            input_group.append(input_3x)
            input_group.append(input_4x)



            const cardFooter = document.createElement('div')
            cardFooter.className ="card-footer"
            cardFooter.style ="display: inline;"

            const left_div =  document.createElement('div')
            left_div.style = "display: inline;"            
            const right_div =  document.createElement('div')
            right_div.style = "display: inline; "    


            const atag = document.createElement('a')
            atag.href ="/atagDelete?a=100&b=500"
            atag.className ="btn btn-danger xDeleteButtonClass"
            // atag.style = "margin-top: 20px; width: 30%;"
            atag.id ="deleteLabelButton-001";
            atag.setAttribute("label","0000128238732")
            atag.setAttribute("project_id","current_folder")
            atag.innerHTML ="Delete";

            const small_1x = document.createElement('small')
            small_1x.className ="text-muted"
            small_1x.innerHTML ="Delete all images & labels";
            small_1x.style = "margin-left: 10px; "  

            // cardFooter.append(input_group)
            left_div.append(atag)
            right_div.append(small_1x)

            cardFooter.append(left_div)
            cardFooter.append(right_div)

            newCardParent.append(h5)
            newCardParent.append(cardBody)    
            newCardParent.append(h2)
            newCardParent.append(p1)
            newCardParent.append(p2)
            newCardParent.append(p3)    
            newCardParent.append(p4)            
            newCardParent.append(show_thumbnails_div)
            newCardParent.append(input_group)
            newCardParent.append(cardFooter)
            //newCardParent.append(atag)
            // newCardParent.append(small_1x)

            return newCardParent

        }

            

  data =[{a:1},{a:2},{a:3},{a:4},{a:5},{a:2},{a:3},{a:4},{a:5},{a:2},{a:3},{a:4},{a:5},{a:2},{a:3},{a:4},{a:5},{a:2},{a:3},{a:4},{a:5},{a:2},{a:3},{a:4},{a:5}]
    

  var colors = ['#ff0000', '#00ff00', '#0000ff','#ff3333', '#ffff00', '#ff6600'];
  

  var labels = ['Tomato', 'Popcorn', 'Sugar','Mango', 'Kandolo', 'Football'];
 
    //document.getElementById('block').appendChild(NewCard())



    create_label_buckets(data)


    function create_label_buckets(data){

        // show_label_buckets()

        for (var i = 0; i < data.length; i += 4) {

            var new_row = document.createElement('div')
            new_row.className="row"

            for (var k = 1; k <= 4; k += 1){



                var random_color = colors[Math.floor(Math.random() * colors.length)].toString() + ';';
                var random_label = labels[Math.floor(Math.random() * labels.length)].toString();
                // var data_element = {"index": Math.floor(Math.random()), "label": random_label,"color": random_color, "num_images": 0, "labeled_images": "", "all_labeled_true_false": "", "project_id": Math.floor(Math.random()), "project_name": random_label, "user_id": Math.floor(Math.random())}

                var data_element = {"index": Math.floor(Math.random()), "label": random_label,"color": random_color, 
                                "num_images": 0, "labeled_images": "0", 
                                "all_labeled_true_false": "", "project_id": Math.floor(Math.random()),
                                "project_name": random_label, "user_id": Math.floor(Math.random()),
                                "ISODate": '10-29-22', "date_created": '10-29-22'}

                var new_card = NewCard(data_element)
                new_row.appendChild(new_card)

            }

            document.getElementById('block').appendChild(new_row)
        
        }

    }




    
    function uploadButtonAction(x){

      //button_id = $(this).attr('id')

      alert(' Button id clicked:  ' + x)

    }


    
    function showImagesAction(){

        button_id = $(this).attr('id')

        alert(' show Images Button:  ' + button_id)

    }





    </script>
    
</body>
</html>