<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    
    <form id="form" method="post" action="{{ url_for('upload_images_project_label') }}" enctype="multipart/form-data">
        <div class="input-group">
            <input class="form-control" id="imageLoader" type="file" name="upload_images_project_label[]" multiple="true" autocomplete="off" required>
            <input type="submit" value="Upload Images" class="btn  btn-info" style="margin-left: 0px;">
            <input type="button" name="submit" value="submit" class="xUploadImagesButton"/>
        </div>
        <input type="hidden" id="project_id" name="project_id" value="${data.project_id ? data.project_id : ''}">
        <input type="hidden" id="current_folder" name="current_folder" value="${data.label ? data.label : ''}">
        <input type="hidden" name="which-form" value="images-for-labeling">
    </form> 







    
</body>
</html>