<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.min.js"></script>
    <script src="https://www.marvinj.org/releases/marvinj-1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

</head>
<body style="background-color: #CFD8DC;">

    <img src="/static/logo/amina-logo.svg" alt=""  width="200" height="200" style="margin-top: 20px; margin-left: 20px;">

    <div class="header">

        <div class="row" style="text-align: center;">
  
        <div class="col-sm">
            
        </div>
        <div class="col-sm">
            <button id="dashboard_btn" type="button" class="btn btn-outline-dark">Dashboard</button>
        </div>
        <div class="col-sm">
    
        </div>
        <div class="col-sm">
            <button id="sign_out_btn" type="button" class="btn btn-outline-dark">Sign Out</button>
        </div>
        <div class="col-sm">
          
        </div>
        
        </div>
  
    </div>

  <div class="row" style="height: 50px;">

  </div>

   <div class="container">

    <h2>Projects</h2>

    <table  id="xProjectsTable" class="table table-bordered table-striped">
        <thead class="bg-dark text-white">
          <tr>
            <th style="width: 15%">Name</th>
            <th style="width: 55%">Labels</th>
            <th style="width: 15%">Delete</th>
            <th style="width: 15%">Open</th>
          </tr>
        </thead>
        <tbody id="myModalProjectsTable" class="xProjectsTableClass">
            {% for project in all_projects %}

            {% set project_id = project['project_js_id'] %}
            {% set labels_color_map = project['labels_color_map'] %}


          <tr>
            <td>{{ project['project_name']  }}</td>
            <td>
                {% for key, value in labels_color_map.items() %}

                <div style="height: 30px; width: auto; margin: 10px;  border-radius: 10px; border: 5px solid {{value}}  ; text-align: center;background-color: {{value}}; " id="label">
                    {{key}}
                </div>
                {% endfor %}
                
            </td>
            <td>
                 
                <div class="form-group">
                  <input type="hidden" id="delete_project{{loop.index}}" value="{{ project_id }}">
                  <button type="submit" id="{{ project_id }}-delete_project-{{loop.index}}" project_id ="{{ project_id }}" class="xDeleteProjectBtnClass" style="background:url('/static/project-icons/delete-icon-48x48-bluish.png'); width: 50px; height: 50px; background-size: cover; border: none; cursor: pointer; color: transparent;"></button>
               </div>
            </form>
            </td>
            <td>
                <input type="hidden" id="open_project{{loop.index}}" value="{{ project_id }}">       
                <button id="{{ project_id }}-open_project_btn-{{loop.index}}"  class="btn btn-success xOpenProjectBtnClass" project_id="{{ project_id }}" type="button" class="btn btn-success" onclick="OpenProject(this.id)"><i class="fas fa-edit"></i> Open Project</button>    
            </td>
           </tr>
           {% endfor %}
        </tbody>
    </table>






    <div id="newLabelParent"></div>

   </div>

<script>

    var LABELS_COLOR_MAP = {}   // label (key) and color (value)
    var current_label;
    var current_color;
    var labels_string = ''



// localStorage.clear();

/*
document.querySelector('.xOpenProjectBtnClass').addEventListener('click', (e) => {
  var btn_id = e.target.id
  var project_js_id = $('#'+btn_id).attr('project_id')

   localStorage.setItem("active_project", project_js_id);

 alert(' line 92 - set active project to  ' + project_js_id)

  $.ajax({
      type: "POST",
      url: '/set_active_project',
      dataType: 'json',
      data: { 'project_id' : project_js_id},
      success: function(data) { }
  });

  location.href = "/labeling/"

});

*/

$('.xDeleteProjectBtnClass').on('click', function(e){

  var btn_id = $(this).attr('id')
  var project_js_id = $('#'+btn_id).attr('project_id')

  $.ajax({
      type: "POST",
      url: '/delete_project',
      dataType: 'json',
      data: { 'project_id' : project_js_id},
      success: function(data) { }
   });

  location.reload();
  // alert('You delete: ' + btn_id + ' project_js_id ' + project_js_id)

  // request_deletion_of_project(project_js_id)


}); 



function request_deletion_of_project(proj_id){

$.ajax({
    type: "POST",
    url: '/delete_project',
    dataType: 'json',
    data: { 'project_id' : proj_id},
    success: function(data) { }
});


}


open_project_btns = document.getElementsByClassName('xOpenProjectBtnClass');

for(let i = 0; i < open_project_btns.length; i++) {

      open_project_btns[i].addEventListener("click", function(e) {

      var btn_id = e.target.id

      var project_js_id = $('#'+btn_id).attr('project_id')

      localStorage.setItem("active_project", project_js_id);

      // alert(' line 161 - set active project to  ' + project_js_id)

      $.ajax({
        type: "POST",
        url: '/set_active_project',
        dataType: 'json',
        data: { 'project_id' : project_js_id},
        success: function(data) { }
      });

      location.href = "/labeling/"


  });


}



document.getElementById("sign_out_btn").addEventListener("click", signOut);

function signOut() {
  // alert(' You licked sign-out')
  window.location.href = "/signout/";
}


document.getElementById("dashboard_btn").addEventListener("click", gotoDashboard);

function gotoDashboard() {
  // alert(' You licked sign-out')
  window.location.href = "/dashboard/";
}





//----------------------------------------------------------
//                 get_all_projects()
// --------------------------------------------------------

get_all_projects()

function get_all_projects(){

$.ajax({
    type: "POST",
    url: "/get_user_projects",
    data: {},
    success: function(data) { 

        var all_user_projects = data.all_projects
        var num_projects = all_user_projects.length

        if (num_projects > 0) {

            window.localStorage.setItem("all_user_projects", all_user_projects);



            alert('You have some projects ')

            all_user_projects.forEach(user_project => {
            for (let key in user_project) {
              alert(`${key}: ${user_project[key]}`)
            }
          })


        }

        else {
            alert('You have no projects mate!')
        }

    }
  });

}




function addNewLabel(){

const newlabelClassItem = document.createElement('div')
newlabelClassItem.className ="labelclass"
newlabelClassItem.id = current_label
newlabelClassItem.style= "border: 3px solid " + current_color + " z-index: 2; background-color: transparent;  margin : 2px; border-radius: 10px; height: 35px;  width: 90%;";
newlabelClassItem.style.fontSize = "16";
newlabelClassItem.innerHTML ="<strong> "+ current_label + " </strong>";
newlabelClassItem.onclick = showSelectedLabel // function shows the selected label by highlighting background with the bordercolor

parentLabelClassItem.append(newlabelClassItem)

}


function showSelectedLabel(){

current_label = $(this).attr('id')
current_color = $(this).css("borderColor");

var all_labels = document.getElementsByClassName('labelclass');
for(let i = 0; i < all_labels.length; i++) {

    if (all_labels[i].getAttribute("id").toString() === current_label.toString()){

        $(this).css("backgroundColor",current_color);

        // showCurrentLabel(current_color, current_label)

    }
    else {

        // all_labels[i].style.backgroundColor ="transparent"
    }

}

}







</script>


</body>
</html>