<!DOCTYPE html>
<html>
<head>
	<title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <!--link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/521/fabric.min.js"></script>
    <script src="https://www.marvinj.org/releases/marvinj-1.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.0/FileSaver.min.js" integrity="sha512-csNcFYJniKjJxRWRV1R7fvnXrycHP6qDR21mgz1ZP55xY5d+aHLfo9/FcGDQLfn2IfngbAHd8LdfsagcCqgTcQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


	<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">

  <style>
    .ScrollStyle
      {
          max-height: 400px;
          overflow-y: scroll;
          border:2px solid rgb(107, 102, 107)
      }

    .xLabelClickedClass:hover
        {
        cursor: pointer;
        transition: border-width 0.6s linear;
        border-width: 10px;
    }

  </style>

</head>
<body style="background-color: #CFD8DC;">

    <img src="/static/logo/amina-logo.svg" alt=""  width="200" height="200" style="margin-top: 20px; margin-left: 20px;">

    <div class="header">

        <div class="row" style="text-align: center;">
  
        <div class="col-sm">

        </div>
        <div class="col-sm">
          <button id="dashboard_btn" type="button" class="btn btn-outline-dark">Dashboard</button>
        </div>
        <div class="col-sm">
          <button id="user_projects_btn" type="button" class="btn btn-outline-dark">My Projects</button> 
        </div>
        <div class="col-sm">
            <button id="sign_out_btn" type="button" class="btn btn-outline-dark">Sign Out</button>
        </div>
        <div class="col-sm">
          
        </div>
        
        </div>
  
    </div>

  <div class="row" style="height: 50px;">

  </div>

   <div class="container">

    <h2>Train Models - Image Classification</h2>

    <table  id="xProjectsTable" class="table table-bordered table-striped">
        <thead class="bg-dark text-white">
          <tr>
            <th style="width: 15%">Project</th>
            <th style="width: 55%">Classification Model</th>
            <!--th style="width: 15%">Delete</th>
            <th style="width: 15%">Open</th-->
          </tr>
        </thead>
        <tbody id="myModalProjectsTable" class="xProjectsTableClass">
            {% for project in all_projects %}

            {% set project_id = project['project_js_id'] %}
            {% set labels_color_map = project['labels_color_map'] %}
            {% set models = project['models']%}
            {% set classification_models = models['classification_models']%}

            

          <tr>
            <td style="text-align: center; vertical-align: middle;"><strong>{{ project['project_name']  }}</strong></td>
            <td>

              
                 <div class="ScrollStyle" style="height:100%">



                  <table id="xInnerTable" class="table table-bordered table-striped">
                    <thead class="bg-dark text-white">
                      <tr>
                        <th>#</th>
                        <th>Model Name</th>
                        <th>Tflite Model</th>        
                        <!--th>Model Version</th-->        
                        <th>Test Model</th>    
                        <th>Colab Notebook</th>     
                        <th>Labels</th>
                        <!--th>Date Trained</th-->        
                        <th>Delete</th>    
                        <th>Share</th>   
                      </tr>
                    </thead>
                    <tbody id="innerTableBody">


                      {% for model_item in classification_models %}

                      {% set model_name = model_item['model_name'] %}
                      {% set model_id = model_item['_id'] %}
                      {% set colab_python_file_url = model_item['colab_python_file_url'] %}
                      {% set date_submitted = model_item['date_submitted'] %}
                      {% set labels = model_item['string_labels_for_training'] %}
                      {% set model_type = model_item['model_type'] %}
                       <!----btn btn-outline-dark btn-lg xClassificationModelClass-->
                      <tr>
                        <td style="text-align: center; vertical-align: middle;">{{loop.index}}</td>
                        <td style="text-align: center; vertical-align: middle;">{{model_name}}</td>
                        <td style="text-align: center; vertical-align: middle;"><input id="{{model_id}}" style="background:url('/static/project-icons/model_with_download.svg'); width: 108px; height: 50px; background-size: cover; border: none; cursor: pointer; color: transparent;" class="xTfliteModelClass"  model_download_url=""  model_id="{{model_id}}" type="submit" value=""></td>      
                        <!--td></td-->        
                        <td style="text-align: center; vertical-align: middle;"><input id="{{model_id}}" style="background:url('/static/project-icons/icons8-test-passed-50.png'); width: 50px; height: 50px; background-size: cover; border: none; cursor: pointer; color: transparent;" class="xTestModelClass" model_download_url=""  model_id="{{model_id}}" type="submit" value=""></td> 
                        <td style="text-align: center; vertical-align: middle;"><input id="{{model_id}}" style="background:url('/static/project-icons/google-colab-with-download.svg'); width: 108px; height: 50px; background-size: cover; border: none; cursor: pointer; color: transparent;" class="xClassificationModelClass" model_url="{{colab_python_file_url}}"  model_id="{{model_id}}" type="submit" value="{{model_name}}"></td>     
                        <td><p><small class="text-muted">labels go here</small></p></td>
                        <!--td></td-->        
                        <td style="text-align: center; vertical-align: middle;">
                          <div class="form-group">
                            <input type="hidden" id="delete_model_item{{loop.index}}" value="{{ model_id }}">
                            <button type="submit" id="{{ model_id }}-delete_model_item-{{loop.index}}" model_id ="{{ model_id }}" class="xDeleteModelItemBtnClass" style="background:url('/static/project-icons/delete-icon-48x48-bluish.png'); width: 50px; height: 50px; background-size: cover; border: none; cursor: pointer; color: transparent;" colab_url="{{colab_python_file_url}}" model_name="{{model_name}}" model_id="{{model_id}}"  model_type="{{model_type}}"></button>
                         </div>
                        </form>
                      </td>   
                      <td style="text-align: center; vertical-align: middle;">
                        <div class="form-group">
                          <input type="hidden" id="share_model_item{{loop.index}}" value="{{ model_id }}">
                          <button type="submit" id="{{ model_id }}-share_model_item-{{loop.index}}" model_id ="{{ model_id }}" class="xShareModelItemBtnClass" style="background:url('/static/project-icons/icons8-share.svg'); width: 48px; height: 48px; background-size: cover; border: none; cursor: pointer; color: transparent;"></button>
                       </div>
                      </form>
                    </td> 
                      </tr>

                      {% endfor %}

                    </tbody>
                  </table>  




                </div> <!---End of "ScrollStyle" Class--->

            </td>

            <!--td style="text-align: center; vertical-align: middle;">
                 
                <div class="form-group">
                  <input type="hidden" id="delete_project{{loop.index}}" value="{{ project_id }}">
                  <button type="submit" id="{{ project_id }}-delete_project-{{loop.index}}" project_id ="{{ project_id }}" class="xDeleteProjectBtnClass" style="background:url('/static/project-icons/delete-icon-48x48-bluish.png'); width: 50px; height: 50px; background-size: cover; border: none; cursor: pointer; color: transparent;"></button>
               </div>
            </form>
            </td>
            <td>
                <input type="hidden" id="open_project{{loop.index}}" value="{{ project_id }}">       
                <button id="{{ project_id }}-open_project_btn-{{loop.index}}" style ="margin-bottom: 10px;" class="btn btn-success xOpenProjectBtnClass" project_id="{{ project_id }}" type="button" class="btn btn-success" onclick="OpenProject(this.id)"><i class="fas fa-edit"></i> Open Project</button> 
                
                <div class="ScrollStyle" style="height:100%">
                  <div class="section_wrapper" style ="width: 100%; margin: auto; border-radius: 8px; box-shadow: 0 3px 10px rgb(100, 100, 100); overflow: hidden;">
                      <div class="section_header" style="text-align: center; background-color: rgb(25, 121, 211); color: white; padding: 10px;">
                          <strong>Labels</strong>
                      </div>
          
                      <div id="selected_labels">      
                      </div>
                      <button id="train_classifier_model_btn" style="display: block; margin: 10px auto; outline: none; padding: 12px; border: none; background-color: rgb(10, 126, 16);border-radius: 8px; color: white; cursor: pointer; width: auto;"><strong>Train Classification Model</strong></button>
                      <p class="result"></p>
                  </div>
                </div>    

            </td-->

           </tr>
           {% endfor %}
        </tbody>
    </table>






    <div id="newLabelParent"></div>

   </div>

<script>

    const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    const d = new Date()
    var year = d.getFullYear();
    var month = d.getMonth() + 1;
    var month_text = months[d.getMonth()];
    var day = d.getDate();
    var today = new Date();
    var ISODate = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
    var Date_Month_Text = today.getDate() + '-' + month_text +'-'+ today.getFullYear()
    var iso_date_timestamp 

    var LABELS_COLOR_MAP = {}   // label (key) and color (value)
    var current_label;
    var current_color;
    var labels_string = ''

    var TRAINING_LABELS = []



// localStorage.clear();

/*
document.querySelector('.xOpenProjectBtnClass').addEventListener('click', (e) => {
  var btn_id = e.target.id
  var project_js_id = $('#'+btn_id).attr('project_id')

   localStorage.setItem("active_project", project_js_id);

 alert(' line 92 - set active project to  ' + project_js_id)

  $.ajax({
      type: "POST",
      url: '/set_active_project',
      dataType: 'json',
      data: { 'project_id' : project_js_id},
      success: function(data) { }
  });

  location.href = "/labeling/"

});

*/

$('.xDeleteModelItemBtnClass').on('click', function(e){

  var btn_id = $(this).attr('id')
  var model_name = $('#'+btn_id).attr('model_name')
  var colab_url = $('#'+btn_id).attr('colab_url')
  var model_id = $('#'+btn_id).attr('model_id')
  var model_type = $('#'+btn_id).attr('model_type')

  $.ajax({
      type: "POST",
      url: '/delete_model_item/',
      dataType: 'json',
      data: { 'colab_url' : colab_url, 'model_name' : model_name , 'model_id' : model_id , 'model_type' : model_type },
      success: function(data) { 
          // alert('gcp_dir : ' + data.gcp_dir + '\n' + 'colab_url : ' + data.colab_url)
      }
   });


}); 


$('.xDeleteProjectBtnClass').on('click', function(e){

var btn_id = $(this).attr('id')
var project_js_id = $('#'+btn_id).attr('project_id')

$.ajax({
    type: "POST",
    url: '/delete_project',
    dataType: 'json',
    data: { 'project_id' : project_js_id},
    success: function(data) { }
 });

location.reload();
// alert('You delete: ' + btn_id + ' project_js_id ' + project_js_id)

// request_deletion_of_project(project_js_id)


}); 


function request_deletion_of_project(proj_id){

$.ajax({
    type: "POST",
    url: '/delete_project',
    dataType: 'json',
    data: { 'project_id' : proj_id},
    success: function(data) { }
});


}


open_project_btns = document.getElementsByClassName('xOpenProjectBtnClass');

for(let i = 0; i < open_project_btns.length; i++) {

      open_project_btns[i].addEventListener("click", function(e) {

      var btn_id = e.target.id

      var project_js_id = $('#'+btn_id).attr('project_id')

      localStorage.setItem("active_project", project_js_id);

      // alert(' line 161 - set active project to  ' + project_js_id)

      $.ajax({
        type: "POST",
        url: '/set_active_project',
        dataType: 'json',
        data: { 'project_id' : project_js_id},
        success: function(data) { }
      });

      location.href = "/labeling/"


  });


}


/*

const reader = (file) => {
    return new Promise((resolve., reject) => {
        const fileReader = new FileReader();
        fileReader.onload = () => resolve(fileReader.result);
        fileReader.readAsDataURL(file);
    });
}

const readFile = (file) => {
    reader(file).then(result => alert('the big one: ' + result));
}

*/


classification_model_urls = document.getElementsByClassName('xClassificationModelClass');

for(let i = 0; i < classification_model_urls.length; i++) {

    classification_model_urls[i].addEventListener("click", function(e) {

     // e.preventDefault();
        
      var model_name = e.target.id

      var model_url = $('#'+model_name).attr('model_url')

      var model_id = $('#'+model_name).attr('model_id')

      var filename = model_url.substring(model_url.lastIndexOf('/')+1);


      alert(' filename : ' + filename + ' model_id : ' + model_id +  ' model_url ' + model_url)
      //application/x-ipynb+json

        $.ajax({
                type: "POST",
                url: '/download_colab_notebook',
                dataType: 'json',
                data: { 'filename' : filename, 'model_id': model_id},
                success: function(data) { 

                   alert('notebook url : ' + data.filepath)
                   // alert('notebook tmp_dir : ' + data.tmp_dir)
                   lert('notebook contents : ' + JSON.stringify(data.colab_notebook))

                   var file = new Blob([JSON.stringify(data.colab_notebook)], { type: 'application/x-ipynb+json' });
                   saveAs(file, filename);

                   delete_tmp_file(data.tmp_dir)


                    /*
                   var oReq = new XMLHttpRequest();
                   var URLToPDF = data.filepath // "https://mozilla.github.io/pdf.js/web/compressed.tracemonkey-pldi-09.pdf";
                    oReq.open("GET", URLToPDF, true);
                    oReq.responseType = "blob";
                    oReq.onload = function() {
                        var file = new Blob([oReq.response], { type: 'application/x-ipynb+json' });
                        saveAs(file, filename);
                    };
                    oReq.send();       
                    
                    */

                }
        });








      // alert('model_url : ' + model_url)


      // window.location.href = model_url;

      // window.location.href = model_url;

      // image_url = "https://storage.googleapis.com/amina-files/users/ac3b286ac0d64beca1fb390e2dbd9a4a/user-images/lb4erxnellb10nmcby/American_Rabbit/American-Rabbit.jpg"

      //FileSaver.saveAs(model_url, model_id);
      //FileSaver.saveAs(image_url, "image.jpg");
      // let CONTENT =''
      //fetch(model_url).then((r)=>{r.text().then((d)=>{CONTENT = d})})

      // alert('CONTENT ' + JSON.stringify(CONTENT))

      // readFile(model_url)
      /*
      fetch(model_url, { headers: {'Content-Type': 'application/x-ipynb+json'},
        responseType: 'blob'
        }).then(response => response.blob())
        .then(blob => saveAs(blob, 'amina-train-image-classifier.ipynb'));


      fetch(model_url)
        .then((res) => { return res.blob(); })
        .then((data) => {
            alert('data :' + JSON.stringify(data))
      });

      */




  });


}

document.getElementById("sign_out_btn").addEventListener("click", signOut);

function signOut() {
  // alert(' You licked sign-out')
  window.location.href = "/signout/";
}


document.getElementById("dashboard_btn").addEventListener("click", gotoDashboard);

function gotoDashboard() {
  // alert(' You licked sign-out')
  window.location.href = "/dashboard/";
}


document.getElementById("user_projects_btn").addEventListener("click", gotoUserProjects);

function gotoUserProjects() {
  // alert(' You licked sign-out')
  window.location.href = "/choose_project/";
}




//----------------------------------------------------------
//                 get_all_projects()
// --------------------------------------------------------

get_all_projects()

function get_all_projects(){

$.ajax({
    type: "POST",
    url: "/get_user_projects",
    data: {},
    success: function(data) { 

        var all_user_projects = data.all_projects
        var num_projects = all_user_projects.length

        if (num_projects > 0) {

            window.localStorage.setItem("all_user_projects", all_user_projects);


            // alert('You have some projects ')

            all_user_projects.forEach(user_project => {
            for (let key in user_project) {
             //  alert(`${key}: ${user_project[key]}`)
            }
          })


        }

        else {
            alert('You have no projects mate!')
        }

    }
  });

}




function addNewLabel(){

const newlabelClassItem = document.createElement('div')
newlabelClassItem.className ="labelclass"
newlabelClassItem.id = current_label
newlabelClassItem.style= "border: 3px solid " + current_color + " z-index: 2; background-color: transparent;  margin : 2px; border-radius: 10px; height: 35px;  width: 90%;";
newlabelClassItem.style.fontSize = "16";
newlabelClassItem.innerHTML ="<strong> "+ current_label + " </strong>";
newlabelClassItem.onclick = showSelectedLabel // function shows the selected label by highlighting background with the bordercolor

parentLabelClassItem.append(newlabelClassItem)

}


function showSelectedLabel(){

current_label = $(this).attr('id')
current_color = $(this).css("borderColor");

var all_labels = document.getElementsByClassName('labelclass');
for(let i = 0; i < all_labels.length; i++) {

    if (all_labels[i].getAttribute("id").toString() === current_label.toString()){

        $(this).css("backgroundColor",current_color);

        // showCurrentLabel(current_color, current_label)

    }
    else {

        // all_labels[i].style.backgroundColor ="transparent"
    }

}

}


label_divs = document.getElementsByClassName('xLabelClickedClass');

for(let i = 0; i < label_divs.length; i++) {

      var label=''
      var color=''

      // label_divs[i].addEventListener('mouseover',function(){ $(this).css('background-color',  $(this).attr('color'));  });
      // label_divs[i].addEventListener('mouseout', function(){ $(this).css('background-color', color ?  color : '');  });

      label_divs[i].addEventListener("click", function(e) {

      var label_div_id = e.target.id

      var project_js_id = $('#'+label_div_id).attr('project_id')
      label = $('#'+label_div_id ).attr('label')
      color = $('#'+label_div_id ).attr('color')

      // $('#'+label_div_id).css('background-color',  color); 
      document.getElementById(label_div_id).style.backgroundColor = color
      $('#'+label_div_id).css('color', 'black'); 

      // alert(' line 342 - project_id ' + project_js_id + ' label : ' + label  + ' color : ' + color)

      var label_with_project = project_js_id +'/' + label

      if (TRAINING_LABELS.includes(label_with_project)){

        // do nothing

      }
      else {

        TRAINING_LABELS.push(label_with_project)

        create_selected_labels_menu(TRAINING_LABELS)

      }

      //label=''
      //color=''

      // alert('TRAINING_LABELS.push(label_with_project) ' + TRAINING_LABELS)

  });


}


//-------------------------------------------------

        var selected_labels = document.getElementById('selected_labels'); // getting the parent container of all the checkbox inputs
        var checkBoxes = selected_labels.querySelectorAll('input[type="checkbox"]'); // get all the check box
        document.getElementById('train_classifier_model_btn').addEventListener('click', getData); //add a click event to the save button

        let result = [];

        function getData() { // this function will get called when the save button is clicked

            result = [];
            var checkBoxes = selected_labels.querySelectorAll('input[type="checkbox"]'); 
            checkBoxes.forEach(item => { // loop all the checkbox item
                if (item.checked) {  //if the check box is checked

                     result.push(item.value)
                    //result.push(data); //stored the objects to result array
                }
            })

            TRAINING_LABELS = []
            TRAINING_LABELS = result
            // alert('UPDATED TRAINING LABELS List ' + TRAINING_LABELS)
            // document.querySelector('.result').textContent = JSON.stringify(result); // display result

            // Submit Training Request for Image Classification Model
            var model_type="classification"
            // var time_submitted_isodate
            var model_name ="test-model-1"

            post_training_request(model_type, TRAINING_LABELS, ISODate, model_name)


        }



        //var TRAINING_LABELS = []


        // var new_data = ['lalu7ius6fksobqunu8/apples','lalu7ius6fksobqunu8/oranges','lalu7ius6fksobqunu8/mandarins','lalu7ius6fksobqunu8/nectarines','lalu7ius6fksobqunu8/blueberries','lalu7ius6fksobqunu8/raspberries','lalu7ius6fksobqunu8/passionfruit','lalu7ius6fksobqunu8/rockmelons','lalu7ius6fksobqunu8/honeydew_']

        // create_selected_labels_menu(new_data)


        function create_selected_labels_menu(data){

            var longest_label = data.sort(function (a, b) {return b.length - a.length;})[0];

            // alert('longest string in data : ' + longest_label)

            removeAllLabelDivs() // Remove previously listed labels so that they are not duplicated

            for (var i = 0; i < data.length; i += 1) {

                var new_row = NewLabel(data[i])

                document.getElementById('selected_labels').appendChild(new_row)
            
            }

        }

        function NewLabel(project_label){

            var split_array = project_label.split('/')

            const newLabel = document.createElement('div')
            newLabel.className="xlabel"
            newLabel.style= "padding: 10px; margin-left: 5px; "

            const label_div = document.createElement('label')
            label_div.className="xlabel"
            label_div.style="width: 50%;"
            label_div.for = split_array[1]
            label_div.innerHTML = split_array[1]

            const check_box = document.createElement('input')
            check_box.className ="xlabel"
            check_box.style= "margin-left: 20px;"
            check_box.id = split_array[1]
            // check_box.type = "checkbox"
            check_box.setAttribute("type","checkbox")
            check_box.setAttribute("value",project_label)
            check_box.checked = true
            // check_box.innerHTML = split_array[1]
            check_box.setAttribute("project_id",split_array[0])
            check_box.setAttribute("project_id_and_label",project_label)

            // alert(' label : ' + split_array[1])

            newLabel.append(label_div)
            newLabel.append(check_box)

            return newLabel

        }



        function removeAllLabelDivs(){
        const elements = document.getElementsByClassName("xlabel");
        while(elements.length > 0){
            elements[0].parentNode.removeChild(elements[0]);
        }
       }


       function post_training_request(model_type, labels_for_training, time_submitted_isodate, model_name){

        var first_label = labels_for_training[0].split('/')
        var project_id = first_label[0]

        // alert('project_id : ' + project_id)
    
        $.ajax({
            type: "POST",
            url: '/train_model',
            dataType: 'json',
            data: { 
                    'project_id' :  project_id, 
                    'model_type' :  model_type, 
                    'time_submitted' : time_submitted_isodate,
                    'labels_for_training' : labels_for_training.toString(),  
                    'model_name' : model_name                                                                 
                },
            success: function(data) {

              // alert(' model request - from Server : ' + JSON.stringify(data.labels_full_path_dict))
              // alert(' sum of two numbers a and b : ' +  data.sum)
              // alert(' Colab notebook : ' +  JSON.stringify(data.colab_notebook))

            }
            
        });   

    }

    /*
    var URLToPDF = "https://mozilla.github.io/pdf.js/web/compressed.tracemonkey-pldi-09.pdf";
    //var mime_type = 'application/octet-stream'
    var mime_type = 'application/pdf'
    var file_name_with_ext = "mypdffilename.pdf"

    download_file_from_url(URLToPDF, mime_type, file_name_with_ext)

    //var colab_file_url = "https://storage.googleapis.com/amina-files/users/ac3b286ac0d64beca1fb390e2dbd9a4a/colab_notebooks/065717cfe71a46aaa41918dc81a27ff0/amina-train-image-classifier.ipynb"
    //var mime_type = 'application/octet-stream'
    //var mime_type ="application/x-ipynb+json"
    //var file_name_with_ext = "image_classifier.ipynb"

    
    //download_file_from_url(colab_file_url, mime_type, file_name_with_ext)
   */

    function download_file_from_url(url, mime_type, file_name_with_ext){

        // https://ourcodeworld.com/articles/read/545/how-to-trigger-the-direct-download-of-a-pdf-with-javascript

        var oReq = new XMLHttpRequest();
        // The Endpoint of your server 
        

        // Configure XMLHttpRequest
        oReq.open("GET", url, true);

        // Important to use the blob response type
        oReq.responseType = "blob";

        // When the file request finishes
        // Is up to you, the configuration for error events etc.
        oReq.onload = function() {
            // Once the file is downloaded, open a new window with the PDF
            // Remember to allow the POP-UPS in your browser
            var file = new Blob([oReq.response], { 
                type: mime_type 
            });
            
            // Generate file download directly in the browser !
            saveAs(file, filename_with_ext);
        };

        oReq.send();

    }


    function delete_tmp_file(tmp_dir){

        $.ajax({
                type: "POST",
                url: '/delete_tmp_file',
                dataType: 'json',
                data: { 'tmp_dir' : tmp_dir},
                success: function(data) { 
                   //alert('Response from Server : ' + data.result)
                }
        });

    }















</script>


</body>
</html>